<footer class="footer color">
  <div class="container text-center">
    <a class="cc-facebook btn btn-link" href="https://www.facebook.com/josepinto.migue/" target="_blank">
      <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/miguel_pinto.128/" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-twitter btn btn-link " href="https://www.linkedin.com/in/miguel-pinto-43b56a194/" target="_blank">
      <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
    </a>
    <a class="cc-github btn btn-link " href="https://github.com/miguelpinto128" target="_blank">
      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
    </a>
    <p class="textcolor">Made with Angular</p>
  </div>
  <div>
    
  </div>
</footer>