<div class="section  color" id="about">
  <div class="container ">
    <div class="card  radius input" data-aos="fade-up" data-aos-offset="10">
      <div class="row ">
        <div class="col-lg-6 col-md-12 color1 ">
          <div class="card-body shadow-lg ">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>Miguel Pinto</strong>. I'm from Portugal, Barcelos. </p>
            <p>
              I'm currently a student at IPCA studying web development and multimedia.
            </p>
            <p>
              All things tech enthusiast.
            </p>
            <p>
              Currently working and completing Web Dev. course.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 color1">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">March 16, 2001</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">miguelpinto128@gmail.com</div>
            </div>
        
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Portuguese, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>