.row p{
    font-weight: 700px;
    color:black;
    
}

.color{
    background-color: #222831;
}

.color1{
    background-color: #DDDDDD;
}


.shadow{
    box-shadow: 10px 10px 10px #15465F;
}

.radius{
    border-radius: 10px   ;
}
