<div class="section color" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title color2">Education</div>
    <div class="card color1  radius">
      <div class="row ">
        <div class="col-md-3 bg-primary " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header ">
            <p>2020 - Present</p>
            <div class="h5 ">CTSP</div>
            <div class="h4 ">Professional Higher Technical Course</div>
          </div>
        </div>
        <div class="col-md-9 color1" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body ">
            <div class="h5">CTSP</div>
            <h4 class="category">Web Development and Multimedia 
            </h4>
            <ul>
              <li>
                This course is mainly focused on Web Development, Multimedia and NetWork Management.
              </li>
              <li>
                It also has a school internship, wich is very valuable for developing work skills and experience.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card color1  radius">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header ">
            <p>2017 - 2019</p>
            <div class="h5">Secondary</div>
          </div>
        </div>
        <div class="col-md-9 color1" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary</div>
            <h4 class="category">Computer systems management and programming technician
            </h4>
            <ul>
              <li>
                This course is mainly focused on programming aspect and computer maintenance and management.
              </li>
              <li>
                It was also good to have a deeper understanding of Office work tools.
              </li>
              <li>
                Completed this course with<b> 16/20</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>